# This example corresponds to Fig. 5 in the manuscript (SPGM: A Scalable PaleoGeomorphology Model, Hassan et al. 201?).


# Basic mandatory parameters

dt                                  = 1e3 # years
maxTime                             = 2e7 # years
beginTime                           = 0 # years
parallelCores                       = -1 # -1 for all available processors

# Mandatory parameter groups
mesh = [
    fileName                        = "mesh.txt"
    smoothing                       = 1
    smoothingFactor                 = 0.05
    smoothingIterations             = 500    
]

precipitation = [
    precipitationRate               = 0.2 # m/yr
    frequency                       = 1   # 1 implies it is called every time-step.
]

fluvialErosionDeposition = [
    m                               = 1 # dh/dt = k . A^m . (dh/dx)^n ; this parameter represents m
    n                               = 0.5 # dh/dt = k . A^m . (dh/dx)^n ; this parameter represents n
    erosionCoefficient              = 5e-2
    alluvialErosionLengthScale      = 10e3
    bedrockErosionLengthScale       = 100e3
    frequency                       = 1 # 1 implies it is called every time-step.
]

hillSlope = [
    bedrockDiffusivity              = 1 # m^2/yr
    subaerialSedimentDiffusivity    = 5 # m^2/yr
    solverTolerance                 = 1e-6
    maxIterations                   = 50
    frequency                       = 1 # 1 implies it is called every time-step.
]

output = [
    prefix                          = "ex2" # prefix of output files
    path                            = "./" # path to where output files are to be written
    outputFormat                    = "vtk" # options are (text/vtk) - currently only vtk is supported
    frequency                       = 1000 # number of time-steps to skip between writing output files

    writeMesh                       = 1 # Boolean
    writeDrainage                   = 1 # Boolean     
]

